h4{
    color: rgb(51, 51, 51);
  }
  
  .hover{
      background-color: rgb(16, 29, 139)
  }
  
  .hoverRed:hover{
    color: rgb(173, 19, 19);
  }
  
  .hover:hover{
      background-color: rgba(61, 61, 61, 0.5);
  }